html{
    color: white;
    background-color: black;
}
h1{
    font-size: 50px;
}

li{
    font-size: 15px;
}

#STOP{
    position: relative;
    bottom: 0px;
}
#MAIN{
    position: relative;
    bottom: 0px;
}
#gy{
    font-style: italic;
    font-size: larger;
}
